<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Private app. Store and review notes{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('assets/bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block stylesheets %}{% endblock %}
    </head>
    <body>

        {% block body %}{% endblock %}

        <script src="{{ asset('assets/bower_components/jquery/dist/jquery.min.js') }}"></script>
        <script src="{{ asset('assets/bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>

        {% block javascripts %}{% endblock %}
    </body>
</html>
