{% extends 'base.html.twig' %}

{% block body %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Moje notatki</a>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 main">
                <h1 class="page-header">Nowa notatka</h1>

                <div class="row placeholders">
                    {{  include('note/forms/note.html.twig') }}
                </div>

                <h2 class="sub-header">Lista notatek</h2>
                <div id="app-container" class="table-responsive">

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/bower_components/react/react-with-addons.min.js') }}"></script>
    <script src="{{ asset('assets/bower_components/react/react-dom.min.js') }}"></script>
    <script src="{{ asset('assets/bower_components/babel/browser.js') }}"></script>

    <script type="text/babel" src="{{ asset('assets/js/notes.react.js') }}"></script>
{% endblock %}

